body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    background-color: rgb(168, 238, 253);
    padding-top: 5rem;
    &::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        left: 0;
        background-color: #ffffff;
    }
    &__all{
        position: relative;
        z-index: 10;
        height: 90vh;
        width: 80%;
        background: rgba(255, 255, 255, 0.1);
        border: 3px solid rgb(4, 4, 128);
        backdrop-filter: blur(25px);
        border-radius: 20px;
        box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
        margin-left: 11rem;
        &__upper{
            display: flex;
            justify-content: space-around;
            h1{
                padding-left: 1rem;
                text-align: center;
            }
            
        } 
        &__lower{
            display: flex;
            justify-content: space-around;
            padding-top: 4rem;
            align-items: center;
            h1{
                padding-left: 1rem;
                text-align: center;
            }
        }
    }
}
   